@import '../../styles/shared';

.card {
  background-color: $color-background;
  border: 1px solid $color-border;
  border-radius: $radius-card;
  transition: transform $transition-normal, box-shadow $transition-normal, border-color $transition-normal;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.overflowVisible {
  overflow: visible !important;
}

// Variants
.default {
  background-color: $color-background;
  border-color: $color-border;
}

.surface {
  background-color: $color-surface;
  border-color: $color-border;
}

.borderless {
  background-color: $color-surface;
  border: none;
}

// Padding
.padding {
  padding: $spacing-md;
  
  @include tablet-and-up {
    padding: $spacing-xl;
  }
}
